
  
  h2 {
    text-align: center;
    color: darkblue;
    font-size: 50px;
  }
  
  form {
    max-width: 500px;
    margin: 20px auto;
  }
  
  label {
    color: darkblue;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
  }
  
  .radio {
    margin-right: 5px;
    
  }
  
  #submit {
            background-color: #ddd;
            display: block;
            color: green;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
  }
  
  #submit:hover {
    background-color: #45a049;
    color: white;
  }
  
  a{
    text-decoration: none;
  }